@CHARSET "ISO-8859-1";

.container {
	width: 96%;
}

/* Ajustar os elementos do topo da página. Centralizar o logotipo na página, esconder as informações (secundárias) sobre a Sacola. 
   Ajustar o menu para car abaixo do logo e não mais posicionado à direita.
*/
header h1 {
	text-align: center;
}


header h1 img {
	max-width: 50%;
}


.sacola {
	display: none;
}


.menu-opcoes {
	position: static;
	text-align: center;
}

/** Ajustar a posição do menu do topo e, automaticamente, os links se posicionaram formando duas linhas. 
    Aumentando espaço das margens, para permitir que o usuário acesse as opções do celular.
*/
.menu-opcoes ul li {
	display: inline-block;
	margin: 5px;
}


/* ocupar 100% da tela com o menu e a busca. 
/* A imagem de destaque deverá ser redimensionada para ocupar 100% da tela e não estourar o tamanho.  
**/
.busca,
.menu-departamentos,
.destaque img {
	margin-right: 0;
	width: 100%;
}

.painel {
	width: auto;
}


.painel li {
	width: 30%;
}


.painel img {
	width: 100%;
}


/* Reposicionando o controle de pause/play */
.play,
.pause {
	top: auto;
	right: auto;
	left: 10px;
	bottom: 10px;
}







